<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Demo for bottle plugins</title>
</head>
<body>
    <h1>Demo</h1>
<div>
    ${result}
    <ul>
        <li><form action="/" method="post"><input type="text" name="hello" value="${result}" /><input type="submit" name="submit" value="提交" /></form></li>
        <li><form action="/login" method="post"><input type="text" name="username" /><input type="password" name="userpass" /><input type="submit" name="submit" value="登录" /></form></li>
    </ul>
</div>
<footer>
<hr/>
<p id="footer">Copyright © 2015 by <a href="http://mental.we8log.com">raptor</a><br />
All rights reserved.</p>
</footer>
</body>
</html>
